<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type='text/css' href="style.css">
<title>test search bar</title>
</head>
<style>
body{
  background-image: url('https://thumbs.gfycat.com/TemptingAlertChanticleer-size_restricted.gif');
  background-size: cover;


}

body *, html * {

  box-sizing: border-box;


}

.container {
    border-radius: 25px;
    position: absolute;
    left: 12%;
    top: 55%;
    transform: translate(-50%);



}

.search-box input {
    border-radius: 25px;
    z-index: 1;
    width: 25px;
    height: 25px;
    transition: all .25s ease-in .25s;
    color: transparent;
    font-size: 1em;
    line-height: 25px;
    border-color: rgba(255,255,255,0.3);
    color: rgba(255,255,255,0.3);
    background-color: rgba(255,255,255,0.3);
}
.search-box input:hover{
cursor: pointer;
}

.search-box input:hover:focus{
  cursor: text;
}
.search-box input:hover + span{
border-radius: 25px;
background: rgba(255,255,255,.2)
}
.search-box input:focus{
  border-color: rgba(255,255,255,0.3);
  color: rgba(255,255,255,0.3);
  background-color: rgba(255,255,255,0.3);
border-radius: 25px;
width: 200px;
padding: 0 10px;
outline-style: solid;

}
.search-box input:focus + span{
  border-color: rgba(255,255,255,0.3);
  color: rgba(255,255,255,0.3);
  background-color: rgba(255,255,255,0.3);
width: 200px;
}
.search-box input:focus + span::before{
  border-color: rgba(255,255,255,0.3);
  color: rgba(255,255,255,0.3);
  background-color: rgba(255,255,255,0.3);
border-radius: 25px;
width: 2px;
opacity: 0;
transition: all .25s ease-in;
}

.search-box input + span{
  border-color: rgba(255,255,255,0.3);
  color: rgba(255,255,255,0.3);
  background-color: rgba(255,255,255,0.3);
  border-radius: 25px;
  z-index: -1;
  position: absolute;
  border: 0px solid #fff;
  top: 0;
  width: 25px;
  height: 25px;
  transition: all .25s ease-in .25s;
  left: 0;
}

.search-box input + span::before{
  border-color: rgba(255,255,255,0.3);
  color: rgba(255,255,255,0.3);
  background-color: rgba(255,255,255,0.3);
border-radius: 25px;
transition: all .25s ease-in .25s;
transform-origin: left top;
content: '';
position: absolute;
width: 10px;
height: 5px;
border-radius: 5px;
background: #fff;
transform: rotate(45deg) translate(26px, -2px);




}
.titlesubmission{
position:relative;
width:50%;
height: 250px;
top: 220px;
left:10%;
}
.titlesubmission textarea{
  top: 50px;
  position: relative;
  border-radius: 10px;
  border-color: rgba(255,255,255,0.3);
  color: rgba(255,255,255,0.1);
  background-color: rgba(255,255,255,0.1);
  padding: 10px;
  color: white;

}

#title {
  border-width: thin;
  border-color: rgba(255,255,255,0.3);
  color: rgba(255,255,255,0.3);
  background-color: rgba(255,255,255,0.3);
  padding:5px;
  border-radius: 10px;
  bottom: 115px;
  right: 255px;
  position: relative;
}
#submit{
  border-color: rgba(255,255,255,0.3);
  color: rgba(255,255,255,0.3);
  background-color: rgba(255,255,255,0.3);
  border-radius: 20px;
  position: relative;
  top: 65px;
  right:415px;


}
#search-box{
  position:relative;
  top:-65px;




}


</style>


<body>
<!-- name=input refers to blog content -->
<div>
<form action='/' method='POST'>
  <div class='titlesubmission'>
  <textarea rows="10" cols="30" name="text" id='text'></textarea>
  <input id='title' type="text" name= "title" placeholder="Title ... " >
  <input id='submit'type='submit'>



</div>
</form>
</div>
  <p id="output"></p>
  <p>{{Title_in_use}}</p>
<script>
  function screenPrint() {
      var input = document.getElementById("text");
      document.getElementById("output").innerHTML = input.value;
  }
  function entryCheck(){
      var input = document.getElementById('entry');
    }
    function screenPrint(x,y){
      var input = document.getElementById(x);
      document.getElementById(y).innerHTML = input.value;
    }
</script>
    <form action='/entry' method='POST'>
    <div class='titlesubmission'>
        <div id='search-box' class='search-box'>
          <input type='text' name= "search">
          <span></span>
  </div>
</div>

  </form>
</body>

</html>
