<!doctype html>
<html>
<head>
</head>
<style>
body{

  background-image: url('https://media.giphy.com/media/Iw0CY4P2P6FAA/giphy-downsized.gif');
  background-repeat: no-repeat;
  background-size: 1450px 850px;
  font-family: monospace;


}



em{
  font-size: 250%;
  font-style: normal;




}

.content{
padding:3px;
display:inline-block;
position: relative;
border-radius: 15px;
border-style: none;
border-width: thin;
border-color: grey;
font-size: 20px;
background-color: rgba(255,255,255,0.7);
width:600px;
position: relative;
word-wrap: break-word;



}
.wrapper{
position: absolute;
bottom: 290px;
left: 800px;


}

#wrap	{
        border-radius: 15px;
        font-family: monospace;
        font-size: 70px;
         width: 100%;
         height: 100px;
         margin: 0;
         z-index: 99;
         position: relative;
         /* background:        linear-gradient(90deg,rgba(212, 212, 170,),rgba(212, 212, 170,0.01)),
                            linear-gradient(180deg,rgba(212, 212, 170,0.5),rgba(212, 212, 170,0.01))
                            linear-gradient(45deg,rgba(212, 212, 170,0.5),rgba(212, 212, 170,0.01)),
                            linear-gradient(22ldeg,rgba(212, 212, 170,0.5),rgba(212, 212, 170,0.01)); */
                            /* linear-gradient(270deg,rgba(240, 202, 15,0.01),rgba(240,202,15,1)),

                            linear-gradient(360deg,rgba(240, 202, 15,0.01),rgba(240,202,15,1)); */
        border-radius: 15px;

        }

.drop_down_menu{
    font-family: monospace;
                border-radius: 15px;
                width: 100%;
                 height: 100px;
                 padding: 0;
                 margin: 0;
                 position: absolute;
                 text-align: center;
                 /* border-right: 1px solid; */
                 /* background-color: rgba(255, 255, 255,0.5) */
                 /* background-color: blue; */
                 background-color: rgba(255, 218, 185,.5);
}
.drop_down_menu  ul {
    width:100%;
    list-style: none;
    text-align: center;
    background-color: rgba(255, 218, 185,.5);

}
.drop_down_menu  li {
                    font-family: monospace;
                    background-color: rgba(255, 218, 185,0);
                    color: black;
                    padding-left: 70px;
                    font-size: 50px;
                    text-align: left;
                    height: auto;
                    width: 300px;
                    float: left;
                    text-align: right 40px;
                    list-style: none;
                    border-radius: 15px;

                    margin: 0;

                    float:left;

}
.drop_down_menu ul li{
        border-radius: 15px;
    padding-left: 30px;
    font-family: monospace;
    list-style: none;
    text-align: center;

}

.drop_down_menu a {
    font-family: monospace;
            padding:  0;
            text-decoration: none;
            color:black;
            display: block;
            text-align: right 40px;
            }

.drop_down_menu li:hover, a:hover {
    font-weight: bold;

}
.drop_down_menu li ul 	{
    font-family: monospace;
                display: none;
                height: auto;
                margin: 0;
                padding: 0;
                              }
.drop_down_menu li:hover ul {
    font-family: monospace;
                        display: block;
                        }

.drop_down_menu li ul li	{

    font-family: monospace;
}
.drop_down_menu li ul li a 	{
    font-family: monospace;
                                            }

.drop_down_menu li ul li a:hover {

  }
</style>
  <body>
    <div id="wrap">
<ul class="drop_down_menu">
    <li><a href="http://127.0.0.1:5000" class="button">Home</a></li>
    <li style="width: 400px; position: relative; left:20px;"; ><a href="#">Top entries</a>
        <ul>
            <li><a href="#"> blog1 </a></li>
            <li ><a href="#"> blog2 </a></li>
            <li ><a href="#"> blog3 </a></li>
        </ul>
    </li>
        <li style=" position: relative; left:150px; padding-left:10px";><a href="#"> Authors</a>
            <ul style="padding-left: 10px";>
            <li><a href="#">liam</a></li>
            <li><a href="#">tab</a></li>
            </ul>
        </li>
</ul>
</div>

    <div class='wrapper'>
    <p class='content'><em>{{Title}}</em><br>{{Text}}</p>
    </div>
