<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type='text/css' href="style.css">
<title>test search bar</title>
</head>
<style>
body{
  background-image: url('https://thumbs.gfycat.com/TemptingAlertChanticleer-size_restricted.gif');
  background-size: cover;


}

body *, html * {

  box-sizing: border-box;


}

.titlesubmission{
position:relative;
width:50%;
height: 250px;
top: 220px;
left:10%;
color: white;
}
.titlesubmission textarea{
  top: 50px;
  position: relative;
  border-radius: 10px;
  border-color: rgba(255,255,255,0.3);
  color: rgba(255,255,255,0.1);
  background-color: rgba(255,255,255,0.1);
  padding: 10px;
  color: white;

}

#title {
  border-width: thin;
  border-color: rgba(255,255,255,0.3);
  color: rgba(255,255,255,0.3);
  background-color: rgba(255,255,255,0.1);
  padding:5px;
  border-radius: 10px;
  bottom: 115px;
  right: 255px;
  position: relative;
  color: white;
}
#submit{
  border-color: rgba(255,255,255,0.3);
  color: rgba(255,255,255,0.3);
  background-color: rgba(255,255,255,0.1);
  border-radius: 20px;
  position: relative;
  top: 65px;
  right:415px;
  color: white;




}
#wrap	{
        border-radius: 15px;
        font-family: monospace;
        font-size: 70px;
         width: 100%;
         height: 100px;
         margin: 0;
         z-index: 99;
         position: relative;
         bottom: 260px;

        border-radius: 15px;

        }

.drop_down_menu{
      font-family: monospace;
                border-radius: 15px;
                width: 100%;
                 height: 100px;
                 padding: 0;
                 margin: 0;
                 position: absolute;
                 text-align: center;
                 /* border-right: 1px solid; */
                 /* background-color: rgba(255, 255, 255,0.5) */
                 /* background-color: blue; */
                 background-color: rgba(255, 218, 185,.5);
}
.drop_down_menu  ul {
    width:100%;
    list-style: none;
    text-align: center;
    background-color: rgba(255, 218, 185,.5);

}
.drop_down_menu  li {
                    font-family: monospace;
                    background-color: rgba(255, 218, 185,0);
                    color: black;
                    padding-left: 70px;
                    font-size: 50px;
                    text-align: left;
                    height: auto;
                    width: 300px;
                    float: left;
                    text-align: right 40px;
                    list-style: none;
                    border-radius: 15px;

                    margin: 0;

                    float:left;

}
.drop_down_menu ul li{
        border-radius: 15px;
    padding-left: 30px;
    font-family: monospace;
    list-style: none;
    text-align: center;

}

.drop_down_menu a {
    font-family: monospace;
            padding:  0;
            text-decoration: none;
            color:black;
            display: block;
            text-align: right 40px;
            }

.drop_down_menu li:hover, a:hover {
    font-weight: bold;

}
.drop_down_menu li ul 	{
    font-family: monospace;
                display: none;
                height: auto;
                margin: 0;
                padding: 0;
                              }
.drop_down_menu li:hover ul {
    font-family: monospace;
                        display: block;
                        }

.drop_down_menu li ul li	{

    font-family: monospace;
}
.drop_down_menu li ul li a 	{
    font-family: monospace;
                                            }

.drop_down_menu li ul li a:hover {

  }

</style>


<body>
<!-- name=input refers to blog content -->
<div>
<form action='/results' method='POST'>
  <div class='titlesubmission'>
  <textarea rows="10" cols="30" name="text" id='text'></textarea>
  <input id='title' type="text" name= "title" placeholder="Title ... " >
  <input id='submit'type='submit'>



</div>
</form>
</div>
<div id="wrap">
<ul class="drop_down_menu">
<li ><a href="http://127.0.0.1:5000" class="button">Home</a></li>
<li style="width: 400px; position: relative; left:150px; bottom:10px;"; ><a href="#">Top entries</a>
    <ul>
        <li><a href="#"> blog1 </a></li>
        <li ><a href="#"> blog2 </a></li>
        <li ><a href="#"> blog3 </a></li>
    </ul>
</li>
    <li style=" position: relative; left:250px; padding-left:10px";><a href="#"> Authors</a>
        <ul style="padding-left: 10px";>
        <li><a href="#">liam</a></li>
        <li><a href="#">tab</a></li>
        </ul>
    </li>
</ul>
</div>




  <p id="output"></p>
  <p>{{Title_in_use}}</p>
<script>
  function screenPrint() {
      var input = document.getElementById("text");
      document.getElementById("output").innerHTML = input.value;
  }
  function entryCheck(){
      var input = document.getElementById('entry');
    }
    function screenPrint(x,y){
      var input = document.getElementById(x);
      document.getElementById(y).innerHTML = input.value;
    }
</script>
    <!-- <form action='/entry' method='POST'>
    <div class='titlesubmission'>
        <div id='search-box' class='search-box'>
          <input type='text' name= "search">
          <span></span>
  </div>
</div>

  </form> -->
</body>

</html>
