body{
  background: #E03A29


}

body *, html * {

  box-sizing: border-box;


}

.container {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%);



}

.search-box input {
    border: none;
    background: none;
    z-index: 1;
    width: 25px;
    height: 25px;
    transition: all .25s ease-in .25s;
    color: transparent;
    font-size: 1em;
    line-height: 25px;
}
.search-box input:hover{
cursor: pointer;
}

.search-box input:hover:focus{
  cursor: text;
}
.search-box input:hover + span{
background: rgba(255,255,255,.2)
}
.search-box input:focus{
width: 200px;
padding: 0 10px;
outline: none;
color: black;
background: none;
color: #fff;
}
.search-box input:focus + span{
width: 200px;
}
.search-box input:focus + span::before{
width: 2px;
opacity: 0;
transition: all .25s ease-in;
}

.search-box input + span{
  z-index: -1;
  position: absolute;
  border: 2px solid #fff;
  top: 0;
  width: 25px;
  height: 25px;
  transition: all .25s ease-in .25s;
  left: 0;
}

.search-box input + span::before{
transition: all .25s ease-in .25s;
transform-origin: left top;
content: '';
position: absolute;
width: 10px;
height: 5px;
border-radius: 5px;
background: #fff;
transform: rotate(45deg) translate(26px, -2px);




}
