<html>
<head>
<body>
<!-- name=input refers to blog content -->
<form method='POST'>
  <input type="text" name= "title" placeholder="Title ... " >
  <textarea rows="10" cols="30" name="text" id='text'></textarea>
  <input type='submit'>
  <button type="button" onclick="screenPrint('text','output')">Print</button>
</form>

<form action='/entry' method='POST'>
  <input type="text" name= "search" placeholder="search entries">
</form>
  <p id="output"></p>
  <p>{{Title_in_use}}</p>
<script>
  function screenPrint() {
      var input = document.getElementById("text");
      document.getElementById("output").innerHTML = input.value;
  }
  function entryCheck(){
      var input = document.getElementById('entry');
    }
    function screenPrint(x,y){
      var input = document.getElementById(x);
      document.getElementById(y).innerHTML = input.value;
    }
</script>

<body>
</head>
</html>
